cachetools
pyarrow
pandas
numpy
scipy
matplotlib
seaborn
modin
jupyter
snowflake
snowflake-connector-python
snowflake-snowpark-python==1.31.0
snowflake-ml-python
JPype1
pyNetLogo
SALib
pyodbc
oracledb
scikit-learn
xgboost
lightgbm
joblib==1.3.2
scipy==1.11.4
pycaret==3.0.2
notebook
imbalanced-learn
python-dotenv
optuna
streamlit
streamlit-echarts
streamlit-option-menu

